/*         <!--  background: css properties -->
 1. bg-color
 2. bg-image 
 3. bg-size
 4. bg-repeat
 5. bg-position
 6. bg-attachment
*/
.box{
    width: 200px;
    height: 200px;
    text-align: center;
    color: white;
}
.box1{
    background-image: url('https://images.pexels.com/photos/13306877/pexels-photo-13306877.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load');
    background-size: cover;
    /*value of background-size : contains and cover */
    background: linear-gradient(to left,white,black);

}
.box2{
    background: radial-gradient(50% 50%,white,lightblue);
}
section{
    background-image: url('https://images.pexels.com/photos/6817179/pexels-photo-6817179.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    /* background-size: 200px 200px; */
    /* background-position: right top; */
    background-attachment: fixed; /*Value has fixed and scroll*/
}