/*
    -- color -- (60 ,30 ,10 )
    1. primary-color
    2. secondary-color
    3. accent-color
*/
:root{
    --primary-color: lightblue;
    --secondary-color: red;
    --accent-color: gold;
    --font-heading: 2.5rem;
    --font-sub-heading: 2rem;
    --font-description: 1.5rem;
    --color-description: rgb(164, 162, 162);
}

body{
    background-color: var(--primary-color);
}

.grid-container{
    display: grid;  
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,200px);
    text-align: center;
    font-size: 20px;
    color: white;
    gap: 20px;
}
.a{
    background-color: rebeccapurple;
    /* grid-column: 1 / span 2;
    grid-row: 1; */
    grid-row: 1 / span 2;
    grid-column: 1;

}
.b{
    background-color: brown;
    grid-row: 1;
    grid-column: 2;

}
.c{
    background-color: cadetblue;
    grid-row: 2;
    grid-column: 2;
}
.d{
    background-color: chocolate;
    grid-column: 3;
    grid-row: 1 / span 2;
}
.e{
    background-color: chartreuse;
    grid-column: 1/-1;
}

/* responsive design or media queries */
/* apply style base on condition */
@media(max-width: 640px){
    .grid-container{
        display: grid;  
        /* grid-template-columns: repeat(3,1fr); */
        grid-template-rows: repeat(5,200px);
        text-align: center;
        font-size: 20px;
        color: white;
        gap: 20px;
    }
    
    .a{
        background-color:red;
        grid-column: 1/-1;
        grid-row: 1;
    }
    .b{
        background-color: bisque;
        grid-column: 1/-1;
        grid-row: 2;
    }
    .c{
        background-color: blueviolet;
        grid-column: 1/-1;
        grid-row: 3;
    }
    .d{
        background-color: brown;
        grid-column: 1/-1;
        grid-row: 4;
    }

}
@media (min-width:641px){
    .a{
        background-color: gold;
    }
}
@media (min-width: 1024){
    .a{
        background-color: plum;
    }
}