@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Suwannaphum:wght@100;300;400;700;900&display=swap');
/* universal selector | less priority selector */
*{
    background-color: aquamarine;
    /* បើចង់អោយវាស្គាល់font អង់គ្លេសផ្សេង(poppins) ខ្មែរ​ផ្សេង(Suwanaphum) {{ដាក់អង់គ្លេសនៅខាងមុខទើបស្គាល់}}*/
    font-family: "Poppins", "Suwannaphum", sans-serif;
    /* web safe font */
    /* font-family: 'Times New Roman', Times, serif; */
}
/* type selector | elementname selector */
header{
    background-color: lightcoral;
    color: #FFFFFF;
}
h2{
    font-size: 80px !important;
}
/* class selector */
.text-center{
    /* shortcut : tac */
    text-align: center;
}
.font-60{
    font-size: 60px;
}
/* Attribute Selector*/
h2[title="Welcome"]{
    font-size: 100px;
}
/* ID Selector */
#demo{
    font-size: 30px;
}