table,td,th{
    border-collapse: collapse;
}
table{
    border: 1px dotted lightblue;
    width: 80vw;
    margin: auto;
}
thead{
    background-color: rgb(77, 223, 77);
    color: #FFF;
    height: 2rem; /* 1 rem = 16px */ 
}
/* pseudo element */
tr:nth-child(even){
    background-color: rgb(217, 212, 212);
}
tr:hover{
    background-color: plum;
}
.img-show{
    width: 50px;
}
td{
    height: 50px;
    text-align: center;
}