/* import for configure font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Suwannaphum:wght@100;300;400;700;900&display=swap');

/* configure local font */
/* @font-face {
    font-family: "ProtestRiot-Regular";
    src: url(../fonts/ProtestRiot-Regular.ttf);
} */

/* universal selector | less priority selector */
*{
    /* background-color: white; */
    /* បើចង់អោយវាស្គាល់font អង់គ្លេសផ្សេង(poppins) ខ្មែរ​ផ្សេង(Suwanaphum) {{ដាក់អង់គ្លេសនៅខាងមុខទើបស្គាល់}}*/
    font-family: "Poppins", "Suwannaphum", sans-serif;

    /* web safe font */
    /* font-family: 'Times New Roman', Times, serif; */

    /* calling local fonts */
    /* font-family: "ProtestRiot-Regular","Suwannaphum", sans-serif; */
}
h3{
    font-variant: small-caps;
    letter-spacing: 5px;
    
    
}
.text-darkblue{
    color: darkblue;
}

.developer-cambodia{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
}
.font-monospace{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
.text-center{
    text-align: center;
}
.bg-gray{
    background-color: rgb(195, 188, 188);
}
.p-20{
    padding: 20px;
}
section{
    margin: 40px;
    border-radius: 25px;
}