@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0px 0px;
    font-family: "Rubik", sans-serif;
}
header, footer{
    background-image: url(https://gridbyexample.com/img/inflicted.png);
    padding: 30px;
    height: 200px;
}
.bgc-puple{
    background-color: #5e35b1;
}
.text-puple{
    color: #5e35b1;
}
.menu {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
    grid-template-rows: 250px 200px 250px 250px 200px 200px;
}
.font-bold{
    font-weight: bold;
}
.text-under{
    text-decoration: underline;
}
.bg-img{
    background-image: url(https://gridbyexample.com/img/inflicted.png);
}
.cl-white{
    color: white;
}
.bg-img-white{
    background-image: url(https://gridbyexample.com/img/tiny_grid.png);
}
.grid-box{
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px;
    padding: 30px;
    position: relative;
}
.box1{
    grid-column: 1 / span 3;
}
.box2{
    grid-column: 4 / span 2;
}
.box3{
    grid-column: 1 / -1;
}
.box4{
    grid-column: 1 / span 2;
}
.box5{
    grid-column: 3 / span 3;
}
.box6{
    grid-column: 1 / span 3;
}
.box7{
    grid-column: 4 / span 2;
}
.box8{
    grid-column: 1 / span 2;
}
.box9{
    grid-column: 3;
}
.box10{
    grid-column: 4 / span 2;
}
.box11{
    grid-column: 1 / -1;
}
.font-size{
    font-size: 50px;
}
.font-30{
    font-size: 30px;
}
.mt{
    margin-top: 130px;
}
.flag-new::before{
    content: "New!";
    background-color: #087f23;
    position:absolute;
    top: -0.8rem;
    left:-0.8rem;
    padding: 0.3rem 0.5rem;
    display: inline-block;
    color: white;
    font-weight: bold;
}
@media (max-width:640px){
    .menu{
        display: grid;
        grid-template-rows: repeat(11 , 200px);
        gap: 10px;
    }
    .box1{
        grid-row: 1;
        grid-column: 1 / -1;
    }
    .box2{
        grid-row: 2;
        grid-column: 1 / -1;
    }
    .box3{
        grid-row: 3;
        grid-column: 1 / -1;
    }
    .box4{
        grid-row: 4;
        grid-column: 1 / -1;
    }
    .box5{
        grid-row: 5;
        grid-column: 1 / -1;
    }
    .box6{
        grid-row: 6;
        grid-column: 1 / -1;
    }
    .box7{
        grid-row: 7;
        grid-column: 1 / -1;
    }
    .box8{
        grid-row: 8;
        grid-column: 1 / -1;
    }
    .box9{
        grid-row: 9;
        grid-column: 1 / -1;
    }
    .box10{
        grid-row: 10;
        grid-column: 1 / -1;
    }
    .box11{
        grid-row: 11;
        grid-column: 1 / -1;
    }
    p{
        font-size: 15px;
    }
}