* {
    font-family: "Suwannaphum", serif;
  }
body{
    background-color: whitesmoke;
}
.item{
    width: 400px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}
.item img{
    width: 100%;
}
.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.text-warning{
    color: gold;
    padding-right: 5px;
}
a{
    text-decoration: none;
    font-size: 25px;
}
.m-0{
    margin: 15px;
}
.pl-2{
    padding: 10px 0px 0px 20px;
}
.pr-2{
    padding: 10px 20px 0px 0px;
}
.text-gray{
    color: rgb(64, 62, 62);
}
.course-container{
    display: flex;
    /* justify-content: space-around; */
    gap: 25px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.text-align-center{
    text-align: center;
}
ul{
    /* padding: 0px 0px 0px 20px */
    padding-left: 20px;
}
.pd-lf-1rem{
    padding-left: 1rem;
    padding-right: 1rem;
}

.position-container{
    width: 60vw;
    height: 200vh;
    background-color: lightblue;
    position: relative;
}

.box{
    width: 200px;
    height: 200px;
}
.a{
    background-color: purple;
    position: relative;
    left: 100px;
    bottom: 50px;
}
.b{
    background-color: lightcoral;
    position: absolute;
    right: 0;
    top: 0;
}
.c{
    background-color: bisque;
    position: fixed;
    top: 250px;
    left: 400px;
    width: 300px;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: lightpink;
}